@import "../components/addButton";
@import "../components/deleteButton";
@import "../components/editButton";
@import "../components/saveButton";
@import "../components/cancelButton";
@import "../components/header";
@import "../components/searchBox";
@import "../components/searchButton";
@import "../components/wordCard";
@import "../components/wordList";
@import "../components/cardSlider";
@import "../components/noMath";
@import "./general/colors";
@import "./general/fonts";
@import "./general/sizes";
@import "./general/mixin";

// loading
:root {
    --duration: 10s;
}

.dots-container {
    width: 50vmin;
    aspect-ratio: 1/.4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    animation: displaying-animation var(--duration) linear infinite;
    padding-top: 10%;
    padding-left: calc(50% - 25vmin);
}

.dot {
    position: relative;
    height: 50%;
    aspect-ratio: 1;
    color: $txWhite;
    text-align: center;
    font-size: 4rem;
}

.dot:not(:nth-child(2)) {
    border-radius: 50%;
    background: $buttonPink;
}

.dot:nth-child(1) {
    animation: simple-dot-1-anim var(--duration) linear infinite;
}

.dot:nth-child(2) {
    animation: evil-dot-anim var(--duration) linear infinite;
}

.dot:nth-child(3) {
    animation: simple-dot-3-anim var(--duration) linear infinite;
}

.face {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #ddd;
    border-radius: 50%;
    animation: face var(--duration) linear infinite;
}

@keyframes displaying-animation {

    0%,
    1% {
        transform: scale(0);
    }

    5%,
    100% {
        transform: scale(1);
    }
}

@keyframes face {

    0%,
    100% {
        background: rgb(185, 228, 252);
    }
}

@keyframes simple-dot-1-anim {
    0% {
        transform: translate(0, 0);
    }

    10%, 20%, 30%, 40%, 50%, 60%, 70%, 80%,
    90% {
        transform: translate(0, 0);
    }

    5%, 15%, 25%, 35%, 45%, 55%, 65%, 75%,
    85% {
        transform: translate(0, -75%);
    }

    95%,
    100% {
        transform: translate(-50vw, 0);
    }
}

@keyframes simple-dot-3-anim {
    0% {
        transform: translate(0, 0);
    }

    5%, 15%, 25%, 35%, 45%, 55%, 65%, 75%,
    85% {
        transform: translate(0, 0);
    }

    10%, 20%, 30%, 40%, 50%, 60%, 70%,
    80% {
        transform: translate(0, -75%);
    }

    90%,
    100% {
        transform: translate(50vw, 0);
    }
}

@keyframes evil-dot-anim {

    2.5%, 12.5%, 22.5%,
    78% {
        transform: translate(0, 0) scale(1);
    }

    7.5%,
    17.5% {
        transform: translate(0, -75%) scale(1);
    }

    80%,
    82% {
        transform: translate(-25%, 0) scale(1);
    }

    85%,
    87% {
        transform: translate(66%, 0) scale(1);
    }

    90% {
        transform: translate(-66%, 0) scale(1);
    }

    95% {
        transform: translate(0, 0) scale(1);
    }

    100% {
        transform: translate(0, 0) scale(50);
    }
}

// and Loading

@media screen and (max-width: 479px) {
    .header {
        font-size: 1.1em;
        &__logo, &__nav-img {
            height: 2.2rem;
            padding: 0;
            margin: 0;
        }
        &__nav-text{
            display: none;
        }
    }

    .header__nav {
        padding-left: 3%;
    }

    .word {
        width: 90vw;

        &__data {
            flex-wrap: wrap;
        }

        &__text {
            font-size: 1.5em;
        }

        &__russian {
            font-size: 1em;
        }

        &__check {
            font-size: 1em;
        }

        &__tags {
            font-size: 1em;
        }
    }

    .searchBox {
        justify-content: flex-end;
        flex-wrap: wrap;
        padding: 0;
    
        &__input {
            max-width: 100px;
            padding: 0.6rem;
            margin: 0 0.5rem;
            font-size: 0.9em;
        }
    }

    .list__control {
        position: sticky;
        top: 0;
        left: calc(50% - 3rem);
    }

    .card-slider {
        gap: 0rem;
        padding-top: 6rem;

        &__btn {
            z-index: 2;
            background-color: transparent;
            &:hover {
                background-color: transparent;
            }
        }
    }

    .learned-words__num_pink {
        font-size: 1.1em;
    }

    .dot {
        font-size: 180%;
    }

    .noMatch {
        height: 70vh;
        gap: 2rem;
        &__img {
            max-width: 7em;
        }
        &__text {
            font-size: 1rem;
            text-align: center;
            padding: 2%;
        }
    }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
    .header {
        font-size: 1.5em;
        &__nav-text{
            display: none;
        }
        &__logo {
            padding-left: 0;;
        }
    }

    .header__nav {
        padding-left: 2%;
    }

    .searchBox {
        justify-content: flex-end;
        padding: 0;

        &__input {
            max-width: 120px;
            padding: 0.65rem;
            margin: 0 0.5rem;
        }
    }

    .card-slider {
        padding-top: 6rem;
    }

    .word {
        width: 80vw;

        &__data {
            flex-wrap: wrap;
        }

        &__text {
            font-size: 1.4em;
        }

        &__russian {
            font-size: 1.4em;
        }

        &__check {
            font-size: 1.4em;
        }

        &__tags {
            font-size: 1.4em;
        }
    }

    .list {
        margin-top: 1rem;
    }

    .dot {
        font-size: 3rem;
    }

    .noMatch {
        height: 70vh;
        gap: 2rem;
        &__img {
            max-width: 7em;
        }
        &__text {
            font-size: 1.2rem;
            text-align: center;
            padding: 2%;
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 1279px) {
    .word {
        width: 70vw;
    }

    .header__nav {
        padding-left: 5%;
    }
    .header__nav-text_say{
        display: none;
    }
}

@media screen and (min-width: 1280px) {
    .word {
        width: 50vw;
    }

}