@import "../styles/general/colors";
@import "../styles/general/fonts";
@import "../styles/general/sizes";

.addButton {
    background-color: $buttonPink;
    color: $txWhite;
    border-radius: $borderRadius;
    padding: $paddingTx;
    border: none;
    min-width: 6rem;
    margin-top: 0.5rem;
    &:hover{
        transform: scale(1.05);
        filter: invert(1) sepia(0) saturate(4) hue-rotate(110deg) brightness(140%) contrast(100%);
        box-shadow: 0px 4px 16px rgba(78, 55, 55, 0.15);
    }
}