@import "../styles/general/colors";
@import "../styles/general/fonts";
@import "../styles/general/sizes";

.deleteButton {
    background-color: $buttonPink;
    color: $txWhite;
    border-radius: $borderRadius;
    padding: $paddingTx;
    border: none;
    min-width: 6rem;
    &:hover{
        filter: invert(1) sepia(0) saturate(4) hue-rotate(110deg) brightness(140%) contrast(100%);
    }
}