@import "../styles/general/colors";
@import "../styles/general/fonts";
@import "../styles/general/sizes";

.header{
    width: 100vw;
    position: fixed;
    z-index: 2;
    display: flex;
    background-color: $backPink;
    justify-content: space-between;
    padding: 0.5rem 0;
    &__logo{
        height: 3rem;
        padding-left: 2rem;
    }
}