@import "../styles/general/colors";
@import "../styles/general/fonts";
@import "../styles/general/sizes";



.searchButton {
    background-color: $buttonPink;
    color: $txWhite;
    border-radius: $borderRadius;
    padding: $paddingTx;
    border: none;
    border-radius: $borderRadius;
    margin: 0 1rem;
    &:hover{
        transform: scale(1.05);
        background-color: white;
    }
    &__img{
        width: 1.5rem;
    }
}