.card {
    margin: 2%;
}

.card_grey {
    background-color: rgba(221, 221, 221, 0.267);
}

.btn{
    margin-top: 10%;
}

#message {
    color: darkblue;
    background-color: rgba(0, 0, 139, 0.075);
    border-radius: 10px;
    margin-top: 2rem;
    line-height: 3rem;
}

.mb-3 {
    margin-top: 10%;
}
