$main-orange: #ff725e;
$spots-orange: #ffe3df;
$background-light: #fafafa;
$background-orange: #ff725e;
$background-orange_tr: #ff715e42;
$tx-light: #fafafa;
$tx-grey: #949494;
$tx-dark: #263238;
$tx-orange: #ff725e;
$block-orange: #ff725e;
$block-grey: #e0e0e0;
$border-radius: 1rem;
$line-dark: #263238;
$line-grey:#e0e0e0;





