@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600;800&display=swap");
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  font-family: Raleway, sans-serif;
  overflow: hidden;
}

.containerDash {
  border: 1px solid #263238;
  border-radius: 1rem;
  width: 70vw;
  height: 70vh;
  margin: 0 auto;
  position: relative;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 3fr;
}

.containerDash::before {
  content: "";
  display: block;
  position: absolute;
  left: -10rem;
  top: -5rem;
  height: 20rem;
  width: 25rem;
  background-image: url("../img/flower.png");
  background-repeat: no-repeat;
  background-size: 40%;
  z-index: -1;
}

.containerDash::after {
  content: "";
  display: block;
  position: absolute;
  right: -40rem;
  bottom: -35rem;
  height: 50rem;
  width: 50rem;
  background-image: url("../img/girl.png");
  background-repeat: no-repeat;
  background-size: 40%;
}

.profile {
  border-radius: 1rem;
  background-color: #ff725e;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.profile-settings__img {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  color: #fafafa;
}

.profile-settings__btn {
  border: none;
  background: none;
}

.title {
  color: #263238;
  font-size: 1.2em;
  font-weight: 700;
  font-family: Raleway, sans-serif;
  padding: 1rem;
  text-align: center;
}

.dashboard {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  justify-content: flex-start;
  gap: 10%;
}

.containerChart {
  padding: 0 10%;
}

.dashboard::before {
  content: "";
  display: block;
  position: absolute;
  left: 4rem;
  top: 0rem;
  height: 40rem;
  width: 80rem;
  background-image: url("../img/spots.png");
  background-repeat: no-repeat;
  background-size: 40%;
  z-index: -1;
}

.profile__img {
  width: 16vh;
  max-width: 100px;
  max-height: 100px;
  height: 16vh;
  -webkit-clip-path: ellipse(45% 45% at 50% 50%);
          clip-path: ellipse(45% 45% at 50% 50%);
  background-color: #fafafa;
  justify-content: center;
}

.profile__ava {
  background-color: #fafafa;
  border-radius: 50%;
  display: flex;
  align-items: center;
}

.profile__userName {
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 0.16em;
  margin: 0.5em;
}

.profile__userLocation {
  font-size: 0.8em;
  letter-spacing: 0.16em;
  margin: 0.2em;
}

.newTask__title {
  font-size: 1em;
  color: #fafafa;
}

.newTask__form, .newUser__form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 0.8em;
  margin: 1rem;
}

.newTask__input, .newUser__input {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: none;
  outline: none;
  color: #949494;
}

.newUser__input {
  border: 1px solid #ff725e;
}

.newTask__button, .newUser__button {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: none;
  color: #ff725e;
  background: #e0e0e0;
  font-weight: 600;
}

.newTask__button:hover, .newUser__button:hover, .tackList__item:hover {
  box-shadow: 0 0.3rem 0.9rem rgba(78, 55, 55, 0.37), inset 0 0.3rem 0.9rem rgba(255, 255, 255, 0.503);
  transition: 1s ease 0s;
  border-radius: 1rem;
  color: #fafafa;
  background: #ff725e;
}

.modal-content_border {
  border-radius: 1rem;
  max-width: 300px;
}

.taskList {
  padding: 0.5em;
  gap: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.tackList__item {
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 0.9em;
  background: #e0e0e0;
  padding: 0.5em;
  border-radius: 1rem;
  align-items: center;
  opacity: 0.5;
  gap: 0.5rem;
}

.btn-close_mini {
  width: 0.3em;
  height: 0.3em;
}

#myChart {
  max-height: 160px;
}/*# sourceMappingURL=style.css.map */