body {
    background-color: #ffffff;
    font-family: Nunito, sans-serif;
}

.header_list {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 75px;
}

.header_logo {
    position: absolute;
    width: 36px;
    height: 36px;
    left: 56px;
    top: 30px;
}

.container_header {
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid #e3e3e3;
}

main {
    border-bottom: 1px solid #e3e3e3;
}

.list_buttom1,
.list_buttom2,
.list_buttom3,
.get__right__buttom {
    font-family: Nunito, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    padding: 8px 20px;
    border: none;
}

.list_buttom1,
.list_buttom3 {
    color: #156963;
    background-color: white;
}

.list_buttom2,
.get__right__buttom {
    color: white;
    background-color: #156963;
}

.list_buttom1:hover,
.list_buttom2:hover,
.list_buttom3:hover,
.get__right__buttom:hover {
    background-color: #88c3bf;
    color: white;
}

.kembang {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.kembang_right {
    margin-left: 50px;
    flex-basis: 600px;
}

.kembang_button {
    font-family: Nunito;
    font-size: 32px;
    font-weight: 500;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: center;
}

#kembang_button1:focus,
#kembang_button2:focus {
    background-color: #88c3bf;
}

#kembang_button1 {
    color: #156963;
    background-color: white;
    border: none;
    padding: 49px 49px;
}

#kembang_button2 {
    color: white;
    background-color: #156963;
    border: none;
    padding: 49px 49px;
}

.tittle_kembang {
    position: static;
    width: 523px;
    height: 166px;
    left: 0px;
    top: 0px;
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 68px;
    line-height: 83px;
    color: #156963;
}

.featured_plants {
    margin-left: 75px;
    margin-right: 75px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

h2 {
    width: 162px;
    height: 24px;
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.flowers {
    margin-left: 75px;
    margin-right: 75px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    flex-wrap: wrap;
}

.flowers_unit {
    margin: auto;
}

[data-tooltip] {
    position: relative;
}

[data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    width: 200px;
    left: 0;
    top: 0;
    background: #88c3bf;
    color: #fff;
    padding: 0.5em;
    box-shadow: 2px 2px 5px rgba(89, 88, 88, 0.3);
    pointer-events: none;
    opacity: 0;
    transition: 1s;
}

[data-tooltip]:hover::after {
    opacity: 1;
    top: 2em;
}

.flowers_unit_img {
    background-color: rgba(229, 228, 228, 0.531);
    height: 200px;
}

.flowers_name {
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #000000;
}

.flowers_price {
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    margin-top: -10px;
}

.line {
    border-bottom: 1px solid #e3e3e3;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin: 49px;
}

.footer__title {
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #156963;
}

.footer__text {
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 13px;
    line-height: 20px;
    color: #4F4F4F;
}

.footer__subtitle {
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
}

.footer_info {
    margin-left: 30px;
}

.advantages {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 30px;
}

.advantages__block {
    border: 1px solid #e3e3e3;
    width: 268px;
    height: 155px;
    margin: 10px;
}

.advantages__block__text {
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 16px;
    color: #2C1500;
    margin: 10px;
}

.advantages__block__img {
    margin: 10px;
}

.get {
    background-color: #F3F4F6;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 56px;
}

.get__right {
    margin: 88px;
}

.get__right__text {
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
    color: #2C1500;
}

.get__left {}

.get__left__flower {}