.container {
    font-family: 'Jost', sans-serif;
    background-color: white;
    color: #000000;
}

.nav-list {
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
}

.shop-buttom {
    border: none;
    background-color: white;
}

.main-page-left__text-marker {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #E2B013;
    padding: 4px;
    width: fit-content;
}


.title-h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 96px;
    line-height: 86px;
    text-shadow: #e2b2137c 0 0, rgba(136, 178, 241, 0.586) 0 0;
    transition: text-shadow 200ms;
}

.title-h1:hover {
    text-shadow: #e2b2137c -6px 0, rgba(136, 178, 241, 0.586) 6px 0;
}

.main-page-left__subtitle-h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 25px;
}

.main-page-left__text {
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 34px;
}

.main-page-left-advantages {
    display: flex;
    justify-content: space-between;
}

.main-page-left-unit__text {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
}

.submain-page-right {
    margin-left: 25px;
    align-content: flex-start;
    justify-content: flex-start;
}

.submain-page-right__title-h2 {
    grid-area: 1 / 2 / 2 / 3;
    font-style: normal;
    font-weight: 600;
    font-size: 96px;
    line-height: 76px;
    margin-top: 0;
}

.submain-page-right__text {
    grid-area: 2 / 2 / 3 / 3;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
    margin-top: 0;
}

.submain-page-right__marker a {
    background-color: #000000;
    color: white;
    margin-left: 0px;
    margin-right: 5px;
    padding: 6px 20px 6px 20px;
    width: fit-content;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 40px;
}

.page {
    margin-top: 5%;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 120px 1fr 1fr;
    gap: 30px;
    justify-content: center;
}

.title {
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    background-color: #000000;
    color: #FFFFFF;
    width: fit-content;
    padding: 10px 100px 10px 30px;
}

.unit {
    background-color: rgba(0, 0, 0, 0.04);
    padding-left: 29px;
    padding-top: 29px;
}

.unit__img {
    width: 95%;
    max-width: 100%;
}

.unit__figurecaption {
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
    text-align: left;
    text-transform: uppercase;
}

.footer {
    margin-top: 100px;
    border-top: #d4d4d4 solid 1px;
    display: grid;
    width: 100%;
    height: 740px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 4fr 1fr;
    gap: 30px;
    justify-content: center;
}

.footer-left__text {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
}

.footer-left__send_box {
    margin-right: 0;
    width: 370px;
    height: 40px;
    border: #d4d4d4 solid 1px;
}

.footer-left__send {
    border: none;
    background-color: #000000;
    margin-right: 0;
    width: 120px;
    height: 44px;
    border: #000000 solid 1px;
}

.footer-left__links {
    margin-top: 200px;
}

.footer-right {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-right__text {
    padding-left: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
}

.footer-right__list li {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 15px;
    margin-left: 0;
    padding-bottom: 20px;
}

.nav-list__link:hover,
.shop-buttom:hover {
    background-color: #e2b2132c;
}


ul {
    list-style: none;
    padding: 0;
}

.footer-bottom {
    grid-area: 3 / 1 /3/ 3;
    display: flex;
    justify-content: space-between;
}

.footer-bottom__text {
    display: flex;
    flex-direction: row;

}

.footer-bottom__text {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    text-transform: uppercase;
    color: #333333;
}

.footer-bottom__text_yellow {
    padding-left: 6px;
    color: #E2B013;
}

@media screen and (max-width: 599px) {
    .container {
        margin: 2%;
        width: fit-content;
    }

    .footer {
        display: none;
    }

    .container_header {
        display: flex;
        flex-wrap: wrap;
        height: fit-content;
        width: fit-content;
    }

    .main-page,
    .submain-page,
    .page {
        display: flex;
        flex-direction: column;
        height: fit-content;
    }

    .submain-page-right {
        margin: 10px;
        align-content: flex-start;
        justify-content: flex-start;
    }

    .main-page-right__img,
    .submain-page-left__img {
        width: 100%;
        max-width: 100%;
    }

    .title-h1 {
        font-size: 3em;
    }

    .main-page-left__subtitle-h1,
    .submain-page-right__title-h2 {
        font-size: 2.5em;
        line-height: 1em;
    }

    .submain-page-right {
        order: -1;
    }

    .title {
        font-size: 2em;
    }

    .main-page-left__text,
    .submain-page-right__text {
        font-size: 1em;
    }

    .buy_search {
        display: flex;
        flex-wrap: wrap;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .nav-list__link {
        color: #000000;
        text-decoration: none;
        margin: 10px;
    }

    .buy_now_button {
        height: 3em;
        width: 6em;
        background-color: #000000;
        color: white;
    }

    .submain-page-right__marker {
        width: fit-content;
        font-size: 0.5em;
    }

    .submain-page {
        width: 100%;
    }

}

@media screen and (min-width: 600px) {

    .container {
        margin: 25px;
        max-width: 80%;
        margin: 0 auto;
    }

    .main-page {
        display: grid;
        height: fit-content;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr;
        gap: 5px;
    }

    .main-page-left__title-h1 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .page__title {
        grid-area: 1 / 1 /1/ 4;
    }

    .container_header {
        display: grid;
        width: 100%;
        height: 114px;
        grid-template-areas: "nav buy_search";
        grid-template-columns: 50% 50%;
        grid-template-rows: 114px;
    }

    .nav {
        grid-area: nav;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
    }

    .buy_search {
        grid-area: buy_search;
    }

    .main-page-left-unit {
        margin-top: 86px;
    }

    .submain-page-right__marker {
        grid-area: 3 / 2 / 4 / 3;
    }

    .buy_search {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .nav-list__link {
        color: #000000;
        text-decoration: none;
        margin: 25px;
    }

    .buy_now_button {
        height: 50px;
        width: 168px;
        background-color: #000000;
        color: white;
    }

    .main-page-left {
        margin-right: 26px;
    }


    .main-page-left__text-marker {
        grid-area: 1 / 1 / 2 / 2;
    }

    .main-page-left__subtitle-h1 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .main-page-left__text {
        grid-area: 1 / 1 / 2 / 2;
    }

    .main-page-left-advantages {
        grid-area: 1 / 1 / 2 / 2;
    }


    .submain-page-left__img {
        grid-area: 1 / 1 / 4 / 2;
    }

    .main-page-right {
        grid-area: 1 / 2 / 2 / 3;
    }

    .submain-page-right__text {
        grid-area: 2 / 2 / 3 / 3;
        margin-top: 0;
    }


    .submain-page-left {
        justify-content: center;
    }

    .submain-page {
        display: grid;
        height: auto;
        margin-top: 200px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 5px;
        justify-content: center;
    }

    .main-page-right__img,
    .submain-page-left__img {
        width: 100%;
        max-width: 100%;
    }

}